body {
    font-family: Arial, sans-serif;
	font-size: smaller; 
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.body {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: smaller; 
  background-color: #fcf8e3;
  margin: 0;
  padding: 0;
}


button {
	font-family: Ariel, sans-serif;
	font-size: smaller;
	font-weight: 500;
    padding: 20px;
    background-color: hsl(30 100% 50% / 0.6);
    color: Black;
    border-radius: 10px;
    cursor: pointer;
	margin-right: 10px; /* Add some space between buttons */
}

button:hover {
}

.button-container {
    display: flex !important;
    float: right !important;
}
