// Assuming you're using SCSS/Sass based on the mixins and want to keep some customizations.
// Body background image
body {
    background-image: url('/Images/Blue Green Screen Gradient Background.png');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
}
// Custom sidebar styles
.sidebar {
    background-size: cover;
    background-position: center;
}

.home-container {
    background-color: #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
	height:	600px; 
    margin: 50px auto;
    padding: 50px;
}

h1, h2 {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;


